body {
	background: #1d1f2057;
	margin-top: 20px;
	padding: 16px;
}

canvas {
	border: 1px dotted red;
	background-color: whitesmoke;
	padding: 20px 20px;
}

.chart-container {
	position: relative;
	margin: auto;
	height: 80vh;
	width: 80vw;
}

#numb {
	color: rgba(0, 0, 0, 1);
}

form {
	text-align: center;
	margin: 20px 20px;

	color: whitesmoke;
}

h1 {
	color: whitesmoke;
	text-align: center;
}
